.Todo {
  display: flex;
  align-items: start;
}

.Todo\:\:Checkbox {
  margin-block: 0.5rem;
}

.Todo\:\:Main {
  margin-inline: 1rem;
  margin-block: 0.5rem;
  flex: 1 1 0%;
  line-height: calc(24 / var(--font-size-base));
}

.Todo\:\:Text {
  margin: 0;
}

.Todo\:\:Button {
  padding: 0.5em;
  border: 0;
  aspect-ratio: 1;
  display: grid;
  color: var(--color-fade-2);
  background-color: transparent;

  &:hover {
    background-color: color-mix(in srgb, currentColor, transparent 90%);
  }
}

.Todo\:\:Delete {
  &:is(:hover, :focus) {
    --focus-color: var(--color-danger);
    color: var(--color-danger);
  }
}

.Todo\:Completed {
  color: var(--color-fade-2);

  & .Todo\:\:Text {
    --_line-color: color-mix(in srgb, currentColor, transparent 50%);
    text-decoration: line-through;
    text-decoration-color: var(--_line-color);
  }
}

.Todo\:EditMode {
  & .Todo\:\:Button {
    visibility: hidden;
  }
}